<!DOCTYPE html>
<html>

<head>

title: <img src="http://www.thesilkroadbazaar.com/images/logo.png" width="250" height="130">
  <style>
body
{
   font-family: Monospace;
   
   
}

#grad {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

<div class="w3-top">
Test
</div>
